# Dependency directories
node_modules/
jspm_packages/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
out/
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Prisma
/server/prisma/generated-client/

# Testing
coverage/

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
